@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Lobster+Two&display=swap');

body {
  margin: 0;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 10%);
  line-height: 1.5;
  font-family: 'Heebo', sans-serif;
}

.content-width {
  max-width: 70ch;
  width: calc(100% - 4rem);
  margin: 0 auto;
}

main {
  margin-bottom: 4rem;
}

header {
  margin-bottom: 4rem;
  padding: 2rem 0;
  background-color: hsla(156, 89%, 25%, 0.653);
  border-bottom: 4px solid hsl(156, 89%, 25%);
  color: hsl(180, 36%, 95%);
}

header p {
  color: hsl(180, 36%, 95%);
  
}

h1 {
  font-size: 48px;
  font-family: 'Lobster Two', cursive;
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.25;
}

h2,
h3 {
  color: hsl(280, 50%, 40%);
}
