body {
    margin: 0;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 10%);
    line-height: 1.5;
  }
  
  .content-width {
    max-width: 70ch;
    width: calc(100% - 4rem);
    margin: 0 auto;
  }

  .content-width h1 {
    font-family: 'Alkatra', cursive;
  }
  
  main {
    margin-bottom: 4rem;
  }
  
  header {
    margin-bottom: 4rem;
    padding: 2rem 0;
    background-color: #fa0a28;
    border-bottom: 4px solid rgb(81, 46, 237);
    color: rgb(196, 197, 192);
  }
  
  header p {
    color: hsl(300, 50%, 85%);
  }
  
  h1 {
    font-size: 48px;
  }
  
  h1,
  h2,
  h3 {
    margin: 0;
    line-height: 1.25;
  }
  
  h2,
  h3 {
    color: hsl(280, 50%, 40%);
  }

  p::first-line {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: underline;
}

  